.student-transportation-statistics {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .data-view__panel {
        flex: 1;
        // overflow: auto;
        // height: calc(100vh - 220px);
        // max-height: calc(100vh - 220px);
        // min-height: calc(100vh - 220px);
    }
}