.header-form{
    margin-top: 150px;

    .title{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 34px;
        color: #16499C;
    }
    .desc{
        font-size: 16px;
        line-height: 24px;
        color: #818181;
        margin-top: 6px;
        min-height: 88px;
    }
}
