.event-page__filter-form {
    .filter-form__panel {
        margin-bottom: 18px;
    }

    .ant-form-item {
        margin-bottom: 0px;
    }

    .first-col {
        .ant-form-item-label {
            width: 140px;
        }
    }
}