.student-transportation-statistics__filter-form {
    .filter-form__panel {
        margin-bottom: 18px;
    }

    .ant-form-item {
        margin-bottom: 0px;
    }

    .filter-form__travel-turn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 30px;
    }

    .filter-form__travel-turn__label {
        font-size: 16px;
    }

    .filter-form__travel-turn__item {
        margin-left: 10px;
        font-weight: 500;
        color: #AEAEAE;
        cursor: pointer;
        font-size: 16px;

        &.active {
            color: #16499C;
            border-bottom: 2px solid #16499C;
            border-top: 2px solid transparent;
        }
    }
}