@import "../../../../styles/variables";

.notification-button {
  min-width: 120px;
  height: 36px;
  font-family: "Roboto";
  font-weight: 500;

  &--border {
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  &--disabled {
    color: $black-500 !important;
    background: $border-color-3 !important;
    border: none !important;
  }
}
