@import '../../../styles/mixins.scss';

.ant-table-wrapper {
    @include scrollbar-style-01('.ant-table-body');

    .ant-table-cell-scrollbar {
        visibility: hidden;
    }

    .ant-table-thead > tr > th {
        padding-top: 4px;
        padding-bottom: 4px;
        height: 50px;
    }

    .ant-table-body {
        padding-right: 5px;
        overflow-y: auto !important;
    }

    &.even-style {
        .ant-table-fixed-header {
            .ant-table-tbody tr:nth-child(2n) td {
                background-color: #fff;
            }

            .ant-table-tbody tr:nth-child(2n + 1) td {
                background-color: #EFF5FF;
            }
        }
    }

    &.default-hover-style {
        .ant-table-tbody>tr.ant-table-row:hover>td,
        .ant-table-tbody>tr.ant-table-row-selected>td {
            background: whitesmoke !important;
        }
    }
}