.fs-group-checkbox {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #16499C;
        border-color: #16499C;
    }
}
.fs-checkbox {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #16499C;
        border-color: #16499C;
    }
}